html {
    font-family: "Open Sans",Arial,"Lucida Grande",sans-serif;
    color: black;
}

/* This is to span 10 spaces */
.wordspacing {
    margin-left: 22px;
}

.wordspacingplus {
    margin-left: 200px;
}

header {
	height: 90px;
}

#header_1 {
	background-color: #006699;
	color: #ffffff;
	font-weight: bold;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 45px;
	width: 100%;
}

#header_2 {
	background-color: #003366;
	color: #ffffff;
	position: absolute;
	top: 45px;
	left: 0px;
	height: 35px;
	width: 100%;
}

#header_3 {
	background-color: #282828;
	color: #ffffff;
	font-weight: bold;
	position: absolute;
	top: 80px;
	left: 0px;
	height: 25px;
	width: 100%;
}

#header_overlay1 {
	color: #ffffff;
	font-weight: bold;
	font-size: 40px;
	position: absolute;
	top: 12px;
	left: 35px;
}

#header_overlay2 {
	color: #ffffff;
	font-size: 16.5px;
	position: absolute;
	top: 58px;
	left: 35px;
}

#header_overlay3 {
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	position: absolute;
	top: 85px;
	left: 35px;
}

/*Search bar overlay*/
#header_overlay4 {
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	vertical-align: middle;
	position: absolute;
	top: 85px;
	width: 90%;
	text-align: right;
}

article {
    background-color: white;
    float: left;
    margin-top: 25px;
    margin-left: 6%;
    width: 65%;
    text-align: justify;
}

.post {
	border: groove;
    border-color: #D8D8D9;
    bottom: 30px;
}

.post_content {
	margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.centered {
	text-align: center;
}

article img {
	position: relative;
	width: 89.2%;
	left: 5%;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 100%;
}

.post_title {
	font-size: 22px;
	font-weight: bold;
	width: 85%;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 12px;
}

.post_date {
	background-color: #D8D8D9;
	position: relative;
	margin-left: 88%;
	width: 55px;
	height: 55px;
	margin-top: -65px;
}

.post_link {
	background-color: #D8D8D9;
	position: relative;
	margin-left: 80%;
	margin-top: 45px;
	width: 95px;
	height: 20px;
	text-align: center;

}

.date_number {
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	margin-top: 0px;
}

.date_month {
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	margin-top: 1px;
}

aside {
	float:right;
    margin-top: 25px;
    margin-right: 1.5%;
    width: 250px;
    height: 100%;
}

#aside_1{
	position: relative;
	border: groove;
    border-color: #D8D8D9;
}

#aside_2{
	position: relative;
	border: groove;
    border-color: #D8D8D9;
    height: 150px;
}

#aside_3{
	position: relative;
	border: groove;
    border-color: #D8D8D9;
    height: 150px;
}

#aside_4{
	position: relative;
	border: groove;
    border-color: #D8D8D9;
    height: 150px;
}

table {
	font-size: 16px;
}

footer {
	margin-top: 98%;
	position: relative;
}

.bold {
	font-weight: bold;
}

.icon {
	width: 32px;
	height: 32px;
	margin-left: 10%;
}

.codeblock {
	background-color: #8C7272;
	padding: 20px;
	color: yellow;
	display: block;
    font-family: monospace;
    margin-left: 1em 0px;
    white-space: pre;
}
